[package]
name = "opentelemetry-application-insights"
version = "0.28.0"
authors = ["Jan Kuehle <jkuehle90@gmail.com>"]
edition = "2018"
description = "OpenTelemetry exporter for Azure Application Insights"
readme = "README.md"
repository = "https://github.com/frigus02/opentelemetry-application-insights"
license = "MIT"
keywords = ["opentelemetry", "tracing"]
categories = [
    "development-tools::debugging",
    "development-tools::profiling",
    "asynchronous",
]
exclude = [
    ".github/*",
    "README.tpl",
]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[features]
reqwest-blocking-client = ["reqwest-client"]
reqwest-blocking-client-rustls = ["reqwest-client-rustls"]
reqwest-client = ["opentelemetry-http/reqwest", "reqwest/native-tls"]
reqwest-client-vendored-tls = ["opentelemetry-http/reqwest", "reqwest/native-tls-vendored"]
reqwest-client-rustls = ["opentelemetry-http/reqwest", "reqwest/rustls-tls"]
surf-client = ["opentelemetry-http/surf"]
metrics = ["opentelemetry/metrics"]
live-metrics = ["futures-channel", "futures-util", "sysinfo"]

[dependencies]
async-trait = "0.1"
bytes = "1"
chrono = "0.4"
flate2 = "1"
http = "0.2"
once_cell = "1"
futures-channel = { version = "0.3", default-features = false, optional = true }
futures-util = { version = "0.3", default-features = false, optional = true }
opentelemetry = "0.20"
opentelemetry-http = "0.9"
opentelemetry-semantic-conventions = "0.12"
reqwest = { version = "0.11", default-features = false, features = ["blocking"], optional = true }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_repr = "0.1"
thiserror = "1"
sysinfo = { version = "0.29", optional = true }

[dev-dependencies]
async-std = { version = "1.10.0", features = ["attributes"] }
doc-comment = "0.3.3"
env_logger = "0.10.0"
insta = "1.13.0"
opentelemetry = { version = "0.20", features = ["rt-async-std", "rt-tokio", "rt-tokio-current-thread"] }
opentelemetry-application-insights = { path = ".", features = ["reqwest-client", "reqwest-blocking-client", "live-metrics"] }
rand = "0.8.5"
regex = "1.5.5"
surf = "2.3.2"
test-case = "3.0.0"
tokio = { version = "1.17.0", features = ["rt", "macros", "process", "time"] }
version-sync = { version = "0.9.4", default-features = false, features = ["html_root_url_updated", "contains_regex"] }

[badges]
github = { repository = "frigus02/opentelemetry-application-insights", workflow = "CI" }

[[example]]
name = "attributes"
required-features = ["reqwest-client"]

[[example]]
name = "http_client_reqwest"
required-features = ["reqwest-client", "opentelemetry/rt-tokio"]

[[example]]
name = "http_client_reqwest_blocking"
required-features = ["reqwest-client"]

[[example]]
name = "http_client_surf"
required-features = ["surf-client", "opentelemetry/rt-async-std"]

[[example]]
name = "live_metrics"
required-features = ["live-metrics"]

[[example]]
name = "metrics"
required-features = ["metrics"]

[[example]]
name = "opentelemetry"
required-features = ["reqwest-client", "opentelemetry/rt-tokio"]

[[example]]
name = "stress_test"
required-features = ["reqwest-client", "opentelemetry/rt-tokio"]
